<div class="container-fluid">

  <p>Data received from Child comp: </p>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active"  data-toggle="tab" href="#basic-databinding"
        role="tab" aria-controls="basic-databinding" aria-selected="true">Basic Data Binding</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#cpb-tab" role="tab" aria-controls="cpb-tab"
        aria-selected="false">Custom Prop Binding</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#ceb-tab" role="tab" aria-controls="ceb-tab"
        aria-selected="false">Custom event Binding</a>
      <a class="nav-item nav-link" data-toggle="tab" 
        href="#directives-tab" role="tab" aria-controls="directives-tab"
        aria-selected="false">Directives</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="basic-databinding" role="tabpanel"
      aria-labelledby="basic-databinding-tab">
      <h2>Basic Data Binding</h2>
      <h4>String Interpolation</h4>
      <p>App name is {{appName}}</p>
      <div title="{{appName}}">
        Mouseover to see the tooltip
      </div>
      <input type="text" value="{{appName}}">

      <br><br><br>
      <h4>Property Binding</h4>
      <input type="text" [value]="clientName">
      <div [title]="clientName">
        Mouseover to see  the client name
      </div>
      <div [ngClass]="{ 'redText': true }">
        Will it work?
      </div>

      <div class="alert" [ngClass]="{ 'alert-success': isAuth(), 'alert-danger': !isAuth() }">
        Will it be in red or green?
      </div>

      <!-- todo: ngStyle -->


    </div>

    <div class="tab-pane fade" id="cpb-tab" role="tabpanel" aria-labelledby="cpb-tab-tab">
      <h2>Custom Property Binding -- Parent to Child Comp Communication</h2>
    </div>

    <div class="tab-pane fade" id="ceb-tab" role="tabpanel" aria-labelledby="ceb-tab-tab">
      <h2>Custom Event Binding -- Child to Parent Comp Communication</h2>
    </div>

    <div class="tab-pane fade" id="directives-tab" role="tabpanel"
      aria-labelledby="directives-tab">
      <h2>Directives</h2>
    </div>

  </div>
</div>